.container-fluid {
    padding: 0;
    background-color: whitesmoke;
}

h3 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color: cornflowerblue;
    font-weight: 400;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    gap: 5px;
}

.card {
    width: 300px;
    height: 500px;
    min-height: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.31);
}

.imgContainer {
    width: 100%;
    height: 200px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.card-imgUrl {
    width: 150px;
    height: 150px;
    min-height: 150px;
    border-radius: 10px;
}

.card-title p {
    font-size: 15px;
    font-weight: 600;
}

.card-description {
    font-size: 12px;
    min-height: 100px;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-price {
    font-size: 15px;
    font-weight: 600;
    min-height: 20px;
}

.card-button {
    width: 100%;
    height: 50px;
    min-height: 50px;
}

